<header>
    <div>
      <div class="menu-image active" style="background-image: url('https://source.unsplash.com/NPFu4GfFZ7E/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
			 <%= link_to 'Join The Journey!',  '/users/sign_up' , class: "h2 display-4 white-link"%>
        </div>
      </div>
    </div>
</header>

